body {
    font-family: Arial, Helvetica, sans-serif;
    color: #808080;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3CB043;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

#aboutus, #ourproduct, #ourservices {
    padding: 20px;
    background-color: white;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #00BFFF;
}

h3{
    color: #3CB043;
}
    


form {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #808080;
    border-radius: 4px;
}

form input[type="submit"] {
    background-color: #3CB043;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #2d8335;
}

footer {
    background-color: #808080;
    color: white;
    text-align: center;
    padding: 10px;
}

footer p {
    margin: 5px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}